.body {
  width: 100%;
}
.colorNav {
  padding: 15;
}

.navItem {
  padding: 10;
}

.container {
  padding: 0 5% 5% 5%;
  background-color: #ffd252;
}

.column {
  background-color: white;

  border-radius: 25px;
  padding: 10%;
  padding-left: 50%;
}
.midcolumn {
  background-color: white;
  padding: 5%;
  text-align: center;
}

.colText {
  margin-bottom: 3%;
  font-weight: 500;
}

#buttons {
  padding: 4%;
  width: 30%;
  margin: 2%;
}

.linkitem {
  color: white;
}

.linkitem:hover {
  color: white;
}
